@page
@model De_Kast.Pages.Cursussen.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Cursussen</h1>

<p>
    <a asp-page="Create">Maak nieuwe item aan</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cursus[0].Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cursus[0].Dag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cursus[0].BeginTijd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cursus[0].EindTijd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cursus) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginTijd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EindTijd)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Pas aan</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Gooi weg</a>
            </td>
        </tr>
}
    </tbody>
</table>
